<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>History Crunch</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="/js/scripts.js"></script>
</head>
<body>

<div class="title">
    <h3>History Crunch</h3>
</div>

<form>
    <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/profile">Search</a></li>
        <li><a href="/photos">Timeline</a></li>
        <li><a href="/news">Quiz</a></li>
    </ul>

    {{{body}}}

</form>
</body>
</html>




