<div class="container-fluid" id="card-container">
    <h2>Welcome to Your Study Timeline</h2>
    <p>Use the search bar to find historical people to add to you timeline</p>
    <div class="panel-group" id="panel-group"></div>

    <div class="input-group searchBar">
        <input type="text" class="form-control" placeholder="Search" name="search">
        <div class="input-group-btn">
            <button class="btn btn-default" type="button" onclick="addCard()">Add to Timeline</button>
        </div>
    </div>

</div>