* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin-left: 3rem;
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #2C3539;
    background-color: #FFC08B;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.card-container {
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    overflow-y: scroll;
    display: flex;
    background-color: #FFFB8B;
    padding: 3rem;
}

.searchBar {
    margin-top: 5rem;
    width: 50%;
    border: 3px;
    background-color: #C6DEFF;
}

.card {
    margin-top: 5rem;
    width: 50%;
    min-heightheight: 500px;
    border-radius: 10px;
    background-color: #BFE3FF;
    box-shadow: -1rem 0 3rem darkgray;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    transition: 0.2s;
}

.card:not(:first-child) {
    margin-top: -30px;
}

.card:hover {
    transform: translateY(-1rem);
}

.card:hover~.card{
    transform: translateX(0px);
}


.card .duplicate {
    color: red;
    font-size: 18px;
    font-weight: bold;
}
